.div_spinner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
    162deg,
    rgba(16, 178, 249, 1) 0%,
    rgba(56, 220, 161, 1) 48%,
    rgba(247, 197, 33, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}

.section_profile {
  transition: width 1s, height 1s;
  height: 90vh;
  min-height: 620px;
  max-height: 840px;
  width: 300px;
}

.h3_profileMessage {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-family: 'Open Sans', sans-serif;
}

main .section_profile--full {
  transition: width 1s 0.5s, height 1s 0.5s;
  width: 100%;
  height: 100vh;
}

.section_profile h1,
p {
  position: relative;
  z-index: 20;
  margin: 0;
}

.section_profile h1 {
  margin-top: 0.5em;
}

.section_profile p {
  font-size: 14px;
  margin-top: 0.2em;
}

.bx-arrow-back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 2em;
  animation: showArrow 2s;
}

@keyframes showArrow {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.article_profile {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 80px;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(
    162deg,
    rgba(16, 178, 249, 1) 0%,
    rgba(56, 220, 161, 1) 48%,
    rgba(247, 197, 33, 1) 100%
  );
  color: #ffffff;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.article_profile::after {
  display: block;
  content: '';
  position: absolute;
  z-index: 10;
  background-image: url('../../assets/device.png');
  background-repeat: round;
  inset: -1.8% -5.6%;
}

section .article_profile--full::after {
  display: none;
}

.div_profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-row: 1 / 2;
  padding-top: 2em;
  overflow: hidden;
}

.img_profile {
  border-radius: 50%;
  height: 96px;
  width: 96px;
}

.ul_link_container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 90%;
}

.ul_link_container--full {
  max-width: 60%;
  transition: width 1s 2s;
}

.a_profileRepo {
  position: absolute;
  bottom: 15px;
  right: 10px;
  z-index: 20;
  color: white;
  font-size: 2em;
}

.ul_profile_media {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 0.5em;
}

.li_profile_media {
  display: grid;
  place-content: center;
  border: 1px solid white;
  margin: 0 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.li_profile_media a {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.li_profile_media a i {
  margin: 0;
}

@media screen and (max-width: 825px) {
  .section_profile {
    padding: 2em 0;
    width: 270px;
  }

  .section_profile h1 {
    font-size: 1.2em;
  }
  .section_profile p {
    font-size: 0.8em;
  }

  .h3_profileMessage {
    display: none;
  }
}
