.footer {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.div_lineBottom {
  place-self: center;
  background-color: #fff;
  cursor: pointer;
  height: 3px;
  width: 70%;
}
