.a_link_profile {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 0.8em 3em;
  margin: 0.5em 0;
}

.a_link_profile:hover {
  background-color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
  color: black;
}

.i_link_profile {
  font-size: 1.5em;
  margin-right: 0.5em;
}
